[Unit]
Description=Feria UNQ backend service
Requires=feria-unq_backend.socket
After=feria-unq_backend.socket

[Service]
ExecSearchPath=/usr/bin
ExecSearchPath=/git/feria-unq/scripts
WorkingDirectory=/git/feria-unq
Environment=BANK_URL=https://bank.taler.ar
Environment=MERCHANT_BASE_URL=https://merchant.taler.ar
ExecStart=node server/backend.ts

[Install]
WantedBy=multi-user.target

